<app-title title="Defer Options Trigger"/>
<section>
  <h1 class="text-xl">Interacciones</h1>
  <hr class="my-2"/>
  @defer (on interaction) {
    <app-heavy-loaders-fast cssClass="bg-lime-200 h-20">
      <span>On interaction</span>
    </app-heavy-loaders-fast>
  }
  @placeholder {
    <div class="w-full h-20 bg-purple-100">Press click here to load!</div>
  }
</section>

<br>
<section>
  <button #btnInteraction class="p-2 bg-lime-500 hover:bg-lime-200 transition-all rounded text-white y-2">Click me!</button>
  <hr class="my-2"/>
  @defer (on interaction( btnInteraction ) ){
    <app-heavy-loaders-fast cssClass="bg-brown-200 h-20">
      <span>On interaction</span>
    </app-heavy-loaders-fast>
  }
  @placeholder {
    <div class="w-full h-20 bg-purple-100">Press click here to load!</div>
  }
</section>

<br>
<section>
  <hr class="my-2"/>
  @defer (on hover( btnInteraction ) ){
    <app-heavy-loaders-fast cssClass="bg-yellow-200 h-20">
      <span>On Hover</span>
    </app-heavy-loaders-fast>
  }
  @placeholder {
    <div class="w-full h-20 bg-purple-100">Hover over button, but could be without element</div>
  }
</section>

<br>
<section>
  <hr class="my-2"/>
  @defer (on timer(3000) ){
    <app-heavy-loaders-fast cssClass="bg-teal-300 h-20">
      <span>On Timer(3000ms)</span>
    </app-heavy-loaders-fast>
  }
  @placeholder {
    <div class="w-full h-20 bg-purple-100">3 segundos</div>
  }
</section>

<br>
<section>
  <hr class="my-2"/>
  @defer (on hover; prefetch on idle ){
    <app-heavy-loaders-fast cssClass="bg-teal-300 h-20">
      <span>Prefetch on idle, after than on idle</span>
    </app-heavy-loaders-fast>
  }
  @placeholder {
    <div class="w-full h-20 bg-purple-100">Prefetch on idle</div>
  }
</section>
